.headerBox {
  background-color: #0076a3;
  width: 100%;
  margin: 0 auto;
  height: 115px;
}

.topHeader {
  background-color: transparent;
}

.dellImgBox {
  padding-left: 42px;
  background-color: transparent;
}

.socialMediaBox {
  float: right;
  margin-right: 53px;
  padding-top: 5px; 
}

.smImg {
  background-color: transparent;
  margin-right: 5px;
  display: inline-block;
}
.smImgLeft {margin-left: 30px;}

.socialMediaBox a:hover {
  background: transparent;
}

/******* Bottom Header ********/
.bottomHeader {
  border: 0px solid black;
  background-color: transparent;
  height: 53px;
}
.navbar-default {
  background-color: transparent;
  border: 0px;
}
.navbar-header {
  float: right;
}

.trial {
  margin: 20px 20px;
  border: 1px solid black;
  min-height: 300px;
  color: #444;
}


/* Have nav on right position & display DDmenu */
@media screen and (min-width: 772px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 30px;
    margin-left: 0;
    margin-top: -13px;
  }
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
  }
}

@media screen and (max-width: 771px) {
  .topHeader {display:none;}
  .headerBox {height: 55px;}
  ul.nav.navbar-nav {width: 260px;}
}

/* Hide Main Search input field @ Xwidth */
@media screen and (max-width: 882px) {
  .searchSection {display: none;}
  .searchDropDown {display: block;} 
}
@media screen and (min-width: 883px) {
    .searchDropDown {
    display: none!important;
    }
}